body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #f8f8f8;
    border-bottom: 2px solid #ccc;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
}

.navbar ul .user a {
    background-color: #00264d;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
}

h1 {
    text-align: center;
    color: #00264d;
    margin: 20px 0;
}

.controls-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

.search-container button {
    background-color: #00264d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.add-button {
    background-color: #00264d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
}

table thead {
    background-color: #00264d;
    color: #fff;
}